<div class="row">
  <div class="col" id="banner">
    <img src="../assets/images/Imagen -5.png" class="img-fluid" alt="Responsive image" id="carimg">
  </div>

  <div  class="col" id="content">
    <div class="container-fluid" id="centerBox">
      <div *ngIf="!hidehome" class="container-fluid">
        <h2>Ya Esta Registrada su Escuela?</h2>
        <br>
        <button (click)="loginfun()" type="button" class="btn btn-primary">Ingrese Aca</button>
        <br>
        <br>
        <h2>De lo Contrario Resgistrese Aca</h2>
        <br>
        <button (click)="registerfun()" type="button" class="btn btn-primary">Registrarse</button>
      </div>

      <div class="container-fluid"  *ngIf="login">
        <label>Correo</label>
        <input [(ngModel)]="email" class="form-control" type="text">
      
        <label>Contrasena</label>
        <input [(ngModel)]="password" class="form-control" type="password">
      
        <button (click)="submitLoginData()" type="button" class="btn btn-primary">Login</button>
      
      </div>

      <div *ngIf="upload" class="container-fluid" id="documentUpload">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Fecha</th>
              <th scope="col">Direccion</th>
              <th scope="col">Autenticado</th>
              <th scope="col">Verificar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let document of documentMetadata">
              <th scope="row">1</th>
              <td>{{document.name}}</td>
              <td>{{document.date}}</td>
              <td>{{document.location}}</td>
              <td>{{document.aunthenticated}}</td>
              <td>
                <button (click)="verificarDocumento(document)" type="button" class="btn btn-primary">Verificar</button> 
              </td>
            </tr>
          </tbody>
        </table>
        <input [(ngModel)]="document" type="file" class="form-control-file"> 
        <input type="submit" class="form-control" (click)="uploadDocument()">
      </div>
      
      <app-register  *ngIf="register"></app-register>
      
      
    </div>
  </div>
</div>

