#banner{
    background-color: #8848DB;
    height: 100vh;

}

#content{
    background-color: #8848DB;
    padding-left: 30vh;
    height: 100vh;
    align-content: center;
    padding-right: 50vh;
    padding-top: 25vh;
}

#carimg{
    height: 100vh;
    align-content: center;
}

#centerBox{
    width: 60vh;
    margin-right: 30vh;
    text-align: center;
    color: white;
}

#documentUpload{
    text-align: center;

}